# App
PORT=3000

# CORS
CORS_WHITELIST_REGEXP=^https?://(?:.+?\.)?(?:lido|testnet|mainnet)\.fi$

# The number of seconds that each request will last in storage
GLOBAL_THROTTLE_TTL=5

# The maximum number of requests within the TTL limit
GLOBAL_THROTTLE_LIMIT=100

# Cache expiration time in seconds
GLOBAL_CACHE_TTL=1

# Sentry DSN
SENTRY_DSN=

# Log level: debug, info, notice, warning or error
LOG_LEVEL=debug

# Log format: simple or json
LOG_FORMAT=json
PROVIDERS_URLS=https://mainnet.infura.io/v3/XXX,https://eth-mainnet.alchemyapi.io/v2/YYY
# chain id
# for mainnet 1
# for testnet 5
CHAIN_ID=1

PORT=3000
DB_NAME=node_operator_keys_service_db
DB_PORT=5432
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=postgres