---
name: Build and show hashes

permissions:
  actions: read
  contents: read
  packages: write

on:
  workflow_dispatch:
    inputs:
      commit:
        description: 'Git commit hash'
        required: true
        type: string

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    outputs:
      sha256: ${{ steps.hash.outputs.sha256 }}
      digest: ${{ steps.digest.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Checkout specified commit
        run: |
          git checkout ${{ inputs.commit }}

      - name: Set up builder
        id: builder
        uses: docker/setup-buildx-action@v3.10.0

      - name: Set up crane
        # latest at 2025-04-14
        run: |
          docker create --name temp_container gcr.io/go-containerregistry/crane@sha256:fc86bcad43a000c2a1ca926a1e167db26c053cebc3fa5d14285c72773fb8c11d
          docker cp temp_container:/ko-app/crane crane
          sudo mv crane /usr/local/bin/crane

      - name: Build locally and save to file
        id: build
        uses: docker/build-push-action@v6.15.0
        with:
          push: false
          load: true
          # image save to tar resets all timestamps in all layers (rewrite-timestamp=true)
          outputs: type=docker,rewrite-timestamp=true,dest=image.tar
          # it's either reproducible, or have provenance, it's impossible to have both
          provenance: false
          builder: "${{ steps.builder.outputs.name }}"
          build-args: ""
        env:
          # https://docs.docker.com/build/ci/github-actions/reproducible-builds/
          SOURCE_DATE_EPOCH: 0

      - name: Load cleansed image back
        id: load
        run: |
          set -e
          IMAGE=$(docker load -i "image.tar" | awk -F': ' '{print $2}')
          docker tag "$IMAGE" "image"
        shell: bash

      - name: Compute SHA256
        id: hash
        run: echo "sha256=$(sha256sum image.tar | cut -d' ' -f1)" >> "$GITHUB_OUTPUT"

      - name: Compute digest
        id: digest
        run:
          echo "digest=$(crane digest --tarball image.tar)" >> "$GITHUB_OUTPUT"

      - name: Report summary
        run: |
          echo "commit hash: $(git rev-parse HEAD)"
          echo "tar sha256 for image is ${{ steps.hash.outputs.sha256 }}"
          echo "image digest is ${{ steps.digest.outputs.digest }}"
