name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.5
      - name: Set up node
        uses: actions/setup-node@v3.0.0
        with:
          node-version: 'lts/*'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Generate types
        run: yarn typechain
      - name: Run lint
        run: yarn lint
      - name: Run tests
        run: yarn test
      - name: Run tests
        run: yarn test:e2e
        env:
          PROVIDERS_URLS: ${{ secrets.PROVIDERS_URLS }}
          CHAIN_ID: ${{ secrets.CHAIN_ID }}
