name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: node_operator_keys_service_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.5
      - name: Set up node
        uses: actions/setup-node@v3.0.0
        with:
          node-version: 'lts/*'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Generate types
        run: yarn typechain
      - name: Run lint
        run: yarn lint
      - name: Run tests
        run: yarn test
        env:
          DB_NAME: node_operator_keys_service_db
          DB_PORT: 5432
          DB_HOST: localhost
          DB_USER: postgres
          DB_PASSWORD: postgres
      - name: Run E2E tests
        run: yarn test:e2e
        env:
          PROVIDERS_URLS: ${{ secrets.PROVIDERS_URLS }}
          CL_API_URLS: "https://e2e-test.lido.fi,"
          CHAIN_ID: ${{ secrets.CHAIN_ID }}
          CHRONIX_PROVIDER_MAINNET_URL: ${{ secrets.CHRONIX_PROVIDER_MAINNET_URL }}
          DB_NAME: node_operator_keys_service_db
          DB_PORT: 5432
          DB_HOST: localhost
          DB_USER: postgres
          DB_PASSWORD: postgres
